# user-defined ignores (avoid committing large files)

*.swp

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.dvi

## generated object files
*.o
liblevmar.a

## generated general files 
a.out
*.out
*~
*.beta[0-9]_beta[0-9]
expfit 

## private docu
*.README*
README_*
*.pdf

## not relevant c++ files for this repo
Vfunc.cpp
calibDiscrChoice.cpp
calibDiscrChoiceThreshold.cpp
makeEFCfromFCdata.cpp
expfit.cpp
save
